<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(115, 115, 115);
        }
        .signup-button,.login-button {
            background-color: rgb(255, 255, 255);
            color: rgb(148, 148, 148);
            padding: 1.2em;
            border-radius: 1.5em;
            margin: 1em;
            font-weight: bold;
        }
    </style>
</head>
<body style="display: flex; justify-content: center; align-items: center; height:90vh; flex-direction: column;">
    <h1 style="color: white; margin-bottom: 5em;">Welcome!</h1>
    <nav>
        <a class="signup-button" href="/signup">Signup</a>
        <a class="login-button" href="/login">Login</a>
    </nav>
</body>
</html>